name: pytest

on:
  pull_request:
  push:
    branches:
    - master

jobs:
  test:
    strategy:
      fail-fast: false  # don't cancel other matrix jobs when one fails
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Get tags
        run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*


      - name: Install uv and python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: auto
          cache-dependency-glob: |
            **/pyproject.toml
            **/uv.lock

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: uv run pytest --cov-report=xml --cov=captest tests/

      # - name: Upload coverage to Codecov
      #   if: matrix.python-version == 3.7 && matrix.suffix == '' && matrix.os == 'ubuntu-latest' && matrix.environment-type == 'conda'
      #   uses: codecov/codecov-action@v3
      #   with:
      #     fail_ci_if_error: true
      #     verbose: true
      #     flags: core  # flags are configured in codecov.yml
